<script>
function startVpnAndRedirect() {
  // Get the message container element
  const messageContainer = document.getElementById('messageContainer');

  // Display the message
  messageContainer.textContent = 'Starting a open VPN !!!!, will take a 60 seconds';

  // Wait for 20 seconds (3000 milliseconds)
  setTimeout(function() {
    // Redirect to www.google.com
    window.location.href = 'http://www.pengfeiqiao.com/blog/aws/';
  }, 9000);
}
</script>
<h1>yanjun's EC2 Instance Status</h1>
<p>Instance ID: i-07360808c3dc6fed2</p>
<p>Status: {{ instance_status }}</p>
<p>IP Address: {{ instance_ip }}</p>


<form method="post" action="{% url 'blog:aws_page' %}">
    {% csrf_token %}
    <button type="submit" name="start_instance">Start Instance</button>
    <br>
    <button type="submit" name="stop_instance">Stop Instance</button>

    <h1>Fei Joe's *** Server</h1>
    <p>Status: {{ vpn_instance_status }}</p>
    <p>IP Address: {{ vpn_instance_ip }}</p>
    <p>IP Country: Japan</p>

    <p>Gateway is {{ vpn_instance_ip }}</p>
    <p>User name is feifei</p>
    <p>password is feifei</p>
    <p>pre-shard key is feifei</p>
    <p>vpn protocol is L2TP </p>

    <button type="submit" name="start_vpn">Start ***</button>
    <br>
    <button type="submit" name="stop_vpn">Stop ***</button>

    <h1 style="color: red;">Regina's open *** Server</h1>
    <h1 style="color: green;">please ask fei joe for openvpn profile </h1>
    <p>Status: {{ regina_instance_status }}</p>
    <p>IP Address: {{ regina_instance_ip }}</p>
    <p>IP Country: Singapore</p>
    <p>Status: <span id="regina_vpn_status">{{ regina_instance_status }}</span></p>
    <p>Gateway is {{ regina_instance_ip }}     (you need to replace this ip every time since you start a vpn server)</p>
    <p>User name is feifei</p>
    <p>password is feifei</p>
    <p>pre-shard key is feifei</p>
    <p>vpn protocol is L2TP in iphone </p>
    <style>
        /* Add some basic styling to the table for demonstration purposes */
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
    <table>
        <tr>
            <th>類型</th>
            <th>L2TP</th>
        </tr>
        <tr>
            <td>Description（描述）</td>
            <td>填寫任意值</td>
        </tr>
        <tr>
            <td>Server（服務器） </td>
            <td>{{ regina_instance_ip }}</td>
        </tr>
        <tr>
            <td>Account（賬戶）</td>
            <td>feifei</td>
        </tr>
        <tr>
            <td>RSA SecurID </td>
            <td>you can ignore</td>
        </tr>
        <tr>
            <td>Passpord（密碼）</td>
            <td>feifei</td>
        </tr>
        <tr>
            <td>Secret（密鑰）</td>
            <td>feifei</td>
        </tr>
        <tr>
            <td>send all traffic（發送所有流量）</td>
            <td>yes(click the box button)</td>
        </tr>
    </table>

    <button type="submit" name="start_regina_vpn" id="startButton" onclick="startVpnAndRedirect()" style="width: 200px; height: 50px; font-size: 16px; background-color: green; color: white;">Start Regina ***</button>
    <br>
    <div id="messageContainer"></div>
    <button type="submit" name="stop_regina_vpn" id="stopButton" style="width: 200px; height: 50px; font-size: 16px; background-color: red; color: white;">Stop Regina ***</button>
    <br>

    <script>
  var buttonClicked = false;

  // Function to handle the click event
  function startVpnAndRedirect() {
    if (!buttonClicked) {
      // Set a flag to prevent further clicks
      buttonClicked = true;

      // Perform your VPN start and redirection logic here

      // Enable the button after 1 minute (60000 milliseconds)
      setTimeout(enableButton, 60000);
    }
  }

  // Function to enable the button
  function enableButton() {
    buttonClicked = false;
  }
</script>
    <h1 style="color: red;">Regina's open *** Server bill </h1>
    <h2 style="color: red;">$0.005 per Elastic IP address not attached to a running instance per hour (prorated) </h2>
    <h2 style="color: red;">$0.12 per GB-month of General Purpose SSD (gp2) provisioned storage - Asia Pacific (Singapore)) </h2>
    <h2 style="color: red;"> regina's total billing is {{ openvpn_amount }} usd  from {{ first_day }} to {{ today }} </h2>
    <table>
        <tr>
            <th>regina's open*** 價格詳情 {{ first_day }} - {{ today }}</th>
            <th>費用（美金）</th>
        </tr>
        <tr>
            <td>靜態IP</td>
            <td>$0.005 usd per /hour</td>
        </tr>
        <tr>
            <td>SSD (gp2)服務器存儲 </td>
            <td>$0.12 per GB-month</td>
        </tr>
        <tr>
            <td>服務器按小時計費</td>
            <td>$0.019 per On Demand Linux Instance Hour</td>
        </tr>
        <tr>
            <td>截止{{ today }}當月總費用 </td>
            <td>{{ openvpn_amount }} usd（美金）</td>
        </tr>

    </table>
</form>

<a href="http://www.pengfeiqiao.com/blog/detail/8/" target="_blank">Click here</a> to learn how to connect to a *** in ubuntu
