<h1>yanjun's EC2 Instance Status</h1>
<p>Instance ID: i-07360808c3dc6fed2</p>
<p>Status: {{ instance_status }}</p>
<p>IP Address: {{ instance_ip }}</p>


<form method="post" action="{% url 'blog:aws_page' %}">
    {% csrf_token %}
    <button type="submit" name="start_instance">Start Instance</button>
    <br>
    <button type="submit" name="stop_instance">Stop Instance</button>
</form>


<h1>Fei Joe's VPN Server</h1>
<p>Status: {{ instance_status }}</p>
<p>IP Address: {{ instance_ip }}</p>
<p>IP Country: Japan</p>

<form method="post" action="{% url 'blog:vpn_page' %}">
    {% csrf_token %}
    <button type="submit" name="start_vpn">Start Instance</button>
    <br>
    <button type="submit" name="stop_vpn">Stop Instance</button>
</form>