<!doctype html>
<html>
<head>

    {% block title %}
        <title>blog from Fei</title>
    {% endblock %}

    {% block meta %}
        <meta charset="UTF-8">
        <meta name="keywords" content="Python,爬虫,Django,算法,Fei"/>
        <meta name="description" content="Fei'blog"/>
    {% endblock %}
    <meta name="author" content="j_hao104"/>
    <meta name="baidu-site-verification" content="2HhDg1sekr"/>
    <meta name="google-site-verification" content="gpXH5Aw-1dy2I5NHeRnNFS_P-PSA_d5TOJHn5bBPvSI"/>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>

    <!--CSS-->
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="/static/css/default.css"/>
    <link rel="stylesheet" href="/static/css/public.css"/>
    <link rel="stylesheet" href="/static/css/animation.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/skin_1.css" title="qingxin"/>
    <link rel="stylesheet" type="text/css" href="/static/css/skin_2.css" title="jianyue"/>
    <link rel="stylesheet" type="text/css" href="/static/css/skin_3.css" title="qingshuang"/>
    <link rel="stylesheet" href="/static/css/font-icon.css"/>
    <!--JS-->

    <script src="/static/js/jquery.2.1.4.min.js"></script>
    <script src="/static/js/my.js"></script>
    <script>
        $("html").append("<div class='jiazai'><img src='/static/images/icon/loading.gif'/><span>Wait a moment...</span></div>")
    </script>
    <script src="/static/js/superbg.min.js"></script>
    <script src="/static/js/superbg-custom.js"></script>
    <script src="/static/js/tooltip.js"></script>
    <script src="/static/js/layer/layer.js"></script>

    <section class="u-clearfix u-video u-section-2" id="sec-02c7">
      <div class="u-background-video u-expanded u-video-contain-lg u-video-contain-md u-video-contain-sm u-video-contain-xl u-video-cover-xs" style="">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/KDj8E7GM38c?&amp;loop=1&amp;mute=1&amp;showinfo=0&amp;controls=0&amp;start=0&amp;autoplay=1" data-autoplay="1" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>

    <!--[if lte IE 8]>
    <script>window.location.href = 'http://cdn.dmeng.net/upgrade-your-browser.html?referrer=' + location.href;</script>
    <![endif]-->

</head>

<body class="nobg">

<!--导航开始-->
{% include "blog/header.html" %}
<!--导航结束-->

<!--主题框架开始-->
<div class="container">
    <!--左侧开始-->
    {% block content %}
    {% endblock %}
    <!--左侧结束-->

    <!--右侧开始-->
    {% include "blog/right.html" %}
    <!--END右侧-->
</div>
<!--主题框架结束-->


<!---底部开始-->
{% include "blog/footer.html" %}
<!---END底部-->

{% block js %}{% endblock %}

</body>
</html>
