

{% load static %}

<link rel="stylesheet" type="text/css" href="/static/css/Contact.css"/>
<style>
		@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
		@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
		body {
 		 background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-1230248-png.png');
 		 height: 100%;

  		/* Center and scale the image nicely */
 		 background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
}
</style>

<div class="top">
  </div>
<div class ="info">
<h1>Wedding RSVP </h1>
<h2>for the wedding of</h2>
<h1>Lisanne & Fei</h1>
  <p class= "line">________________________________________</p>
<h2>The Details</h2>
      <p>Saturday, Aug 25, 2023</p>
      <p>5:00 PM</p>
      <br>
      <h2>Ceremony & Party</h2>
      <p>Chapel of Our Saviour</p>
      <p>8 4th St, Colorado Springs, CO 80906</p>
  <p class= "line">________________________________________</p>
</div>

<form action="" method="post">
  {% csrf_token %}
  {{ form|linebreaks }}
  <input type="submit" value="Submit<Indienen>">
</form>