{% extends 'blog/base.html' %}

{% block content %}
<br>
<br>
<br>
<h2>Currency View by Country (To USD)</h2>
<div id="container" style="width: 75%;">
  <canvas id="currency-chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  // Define chart configuration
  var config = {
    type: 'line',
    data: {
      datasets: [{
        label: 'Currency Code', // Label for the dataset
        data: {{ data|safe }}, // Data values for the chart
        backgroundColor: '#1c9e5f', // Background color for the line (if needed)
        borderColor: '#1c9e5f', // Line color
        borderWidth: 2 // Line width
      }],
      labels: {{ labels|safe }} // Labels for x-axis (country names)
    },
    options: {
      responsive: true,
      scales: {
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'time' // Label for x-axis (countries)
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Currency Rate' // Label for y-axis (currency Rate)
          }
        }]
      }
    }
  };

  // Wait for window to load before rendering the chart
  window.onload = function() {
    var ctx = document.getElementById('currency-chart2').getContext('2d');
    window.myLine = new Chart(ctx, config); // Create a line chart
  };
</script>


    <style>
        /* Add some basic styling to the table for demonstration purposes */
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 2px solid black;
            padding: 8px;
        }
    </style>
    <table>
        <tr>
            <th>Cloud</th>
            <th>AWS</th>
        </tr>
        <tr>
            <td>Severless</td>
            <td>Amazon Lambda</td>
        </tr>
        <tr>
            <td>pipeline</td>
            <td>EventBridge</td>
        </tr>
        <tr>
            <td>Database</td>
            <td>Amazon DynamoDB</td>
        </tr>
        <tr>
            <td> Web</td>
            <td>Django</td>
        </tr>
    </table>
    <a href="http://www.pengfeiqiao.com/blog/detail/12/" target="_blank" style="color: #0015ff; text-decoration: none; font-size: 32px;">View Project fake code  Click here </a>
    <br>


<br>
<!-- Image link -->
<a href="https://github.com/joe19940422/bigdata_project/blob/main/aws/currency_exchange/currency_rate_pipeline.jpg?raw=true" target="_blank">
  <img src="https://github.com/joe19940422/bigdata_project/blob/main/aws/currency_exchange/currency_rate_pipeline.jpg?raw=true" alt="Image Alt Text" width="1000" height="450">
</a>

{% endblock %}
