{% extends 'blog/base.html' %}

{% block content %}
<br>
<br>
<br>
<h2>Currency View by Country</h2>
<div id="container" style="width: 75%;">
  <canvas id="currency-chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  // Define chart configuration
  var config = {
    type: 'line',
    data: {
      datasets: [{
        label: 'Currency Code', // Label for the dataset
        data: {{ data|safe }}, // Data values for the chart
        backgroundColor: '#1c9e5f', // Background color for the line (if needed)
        borderColor: '#1c9e5f', // Line color
        borderWidth: 2 // Line width
      }],
      labels: {{ labels|safe }} // Labels for x-axis (country names)
    },
    options: {
      responsive: true,
      scales: {
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Country' // Label for x-axis (countries)
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Currency Value' // Label for y-axis (currency values)
          }
        }]
      }
    }
  };

  // Wait for window to load before rendering the chart
  window.onload = function() {
    var ctx = document.getElementById('currency-chart').getContext('2d');
    window.myLine = new Chart(ctx, config); // Create a line chart
  };
</script>

<h4>Data updated every 5 mins since 2022/10/12</h4>

{% endblock %}
