<header class="myheader">
    <div class="top">
        <!--头像左边部分-->
        <div class="top-left">
            <div class="logo"><a href="{% url "blog:index" %}"><img src="/static/images/h.gif" alt=""/></a></div>

            <!--滚动消息-->
            <div class="web-xiaoxi">
                <i class="el-speaker"></i>
                <ul class="mulitline">
                    <li>Welcome to my blog</li>
                    <li>open under link </li>
                    <li>follow me if you like</li>
                </ul>
            </div>
            <!--END 消息 -->

            <!--手机菜单按钮-->
            <div class="mobile-nav"><i class="el-lines"></i><i class="el-remove"></i></div>
        </div>
        <!--电脑导航开始-->
        <nav class="mynav">
            <ul class="orange-text">
                <li class=""><a href="{% url "blog:index" %}">Home Page</a></li>
                <li><a href="{% url "blog:list" %}">Blog</a></li>
                <li class='drop'>
                    <a href="JavaScript:;">Category<i class='el-chevron-down'></i></a>
                    <div class="drop-nav orange-text">
                        <ul>
                            {% for category in category_list %}
                                <li><a href="{% url "blog:category" name=category.name %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li><a href="{% url "blog:archive" %}">Archive</a></li>
                <li><a href="{% url "blog:message" %}">Message</a></li>

                <li class='drop'>
                    <a href="JavaScript:;">News<i class='el-chevron-down'></i></a>
                    <div class="drop-nav orange-text">
                        <ul>
                               <li><a href="{% url "blog:BBC" %}">BBC News</a></li>
                                <li><a href="{% url "blog:China" %}">China News</a></li>
                            <li><a href="{% url "blog:Taiwan" %}">Taiwan News</a></li>
                        </ul>
                    </div>
                </li>


            </ul>


        </nav>


        <!--这里是手机导航-->
        <div class="mob-menu">
            <!--手机顶部搜索-->
            <div class="search ">
                <form action="{% url "blog:search" %}" method="get">
                    <div class="search-index">
                        <input name="name" type="text" placeholder="Please enter key words" onfocus="this.placeholder=''"
                               onblur="this.placeholder='Please enter key words'"/>
                        <i class="el-search"><input value=" " type="submit"/></i>
                    </div>
                </form>
            </div>
            <!--手机下拉菜单-->
            <ul>
                <li><a href="{% url "blog:index" %}">Home Page</a></li>
                <li><a href="{% url "blog:list" %}">Blog</a></li>
                <li class='mob-drop'>
                    <a href="JavaScript:;">分类</a>
                    <ul class="mob-dropmenu">
                        {% for category in category_list %}
                            <li><a href="{% url "blog:category" name=category.name %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url "blog:archive" %}">Archive</a></li>
                <li><a href="{% url "blog:message" %}">Message</a></li>


                <li><a href="{% url "blog:BBC" %}">BBC NEWS</a></li>
<!--                <li><a href="{% url "blog:China" %}">China NEWS</a></li>-->
                <li><a href="{% url "blog:Taiwan" %}">Taiwan NEWS</a></li>

<!--                <li class='mob-drop'>-->
<!--                    <a href="JavaScript:;">分类</a>-->
<!--                    <ul class="mob-dropmenu">-->

<!--                            <li><a href="{% url "blog:China" %}">China NEWS</a></li>-->
<!--                            <li><a href="{% url "blog:Taiwan" %}">Taiwan NEWS</a></li>-->

<!--                    </ul>-->
<!--                </li>-->

            </ul>
        </div>
    </div>
    <!--换肤--->
    <script src="/static/js/skin.js"></script>
    <div class="select-skin">
        <div class="skin-btn">
            <a href="javascript:void(0);" class="skin-btn-open">change<br>skin</a>
        </div>

        <div class="skin-content">
            <h1>Chose skin<span class="skin-close">Close</span></h1>
            <div class="skin-content-list">
                <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingxin'); return false;" class="btn1">Fresh</a>
                </div>
                <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('jianyue'); return false;" class="btn2">Normal</a>
                </div>
                <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingshuang'); return false;"
                                          class="btn3">Nice</a></div>
            </div>
        </div>
    </div>
</header>
