<table class = 'table'>
    <thead>
    <tr>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>event_type</th>
        <th>message</th>
        <th>guest_num</th>
        <th>created_at</th>

    </tr>
    </thead>
{% for item in queryset %}
    <tr>
         <td>{{item.name}}</td>
         <td>{{item.email}}</td>
         <td>{{item.phone}}</td>
         <td>{{item.event_type}}</td>
         <td>{{item.message}}</td>
         <td>{{item.guest_num}}</td>
         <td>{{item.created_at}}</td>
    </tr>
{% endfor %}
    </table>