{% extends 'blog/base.html' %}

{% block content %}
<br>
<br>
<br>
<h2> Visitor view by country </h2>
  <div id="container" style="width: 75%;">
    <canvas id="visitor-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#1c9e5f', '#1c9e91', '#1c5d9e', '#F712C1', '#316307','#428509',
            '#53a60b', '#63c70e', '#74e910', '#87f02d'
          ],
          label: 'country_code'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('visitor-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>
<h4>                Data update every hour since 2022/10/12 </h4>

{% endblock %}