{% extends 'blog/base.html' %}

{% block content %}
  <h1>Weather Data</h1>

  <form method="get" action="{% url 'blog:weather' %}">
    <label for="city">Select a city:</label>
    <select name="city" id="city" onchange="this.form.submit()">
      {% for city in cities %}
        <option value="{{ city }}" {% if city == name %}selected{% endif %}>{{ city }}</option>
      {% endfor %}
    </select>
  </form>

  {% if error %}
    <p>{{ error }}</p>
  {% else %}
    <div>
      <p><strong>City:</strong> {{ name }}</p>
      <p><strong>Visibility:</strong> {{ visibility }}</p>
      <p><strong>Longitude:</strong> {{ lon }}</p>
      <p><strong>Latitude:</strong> {{ lat }}</p>
      <p><strong>Wind:</strong> Speed: {{ wind.speed }} m/s, Degree: {{ wind.deg }}°</p>
      <p><strong>Sun:</strong> sunrise: {{ sys.sunrise }}, sunset: {{ sys.sunset }}</p>
      <p><strong>humidity:</strong> {{ main.humidity }} </p>
      <p><strong>temp:</strong> {{ main.temp }} </p>
      <p><strong>temp_min:</strong> {{ main.temp_min }} </p>
      <p><strong>pressure:</strong> {{ main.pressure }} </p>
      <p><strong>feels_like:</strong> {{ main.feels_like }} </p>
      <p><strong>temp_max:</strong> {{ main.temp_max }} </p>
      <p><strong>country:</strong> {{ sys.country }} </p>
      <p><strong>Weather time:</strong> {{ weather_time }}</p>
      <p><strong>insert dynamdb time:</strong> {{ insert_dynamdb_time }}</p>
    </div>
  {% endif %}
    <h4>The data update every 5 minutes </h4>

    <style>
        /* Add some basic styling to the table for demonstration purposes */
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 2px solid black;
            padding: 8px;
        }
    </style>
    <table>
        <tr>
            <th>Cloud</th>
            <th>AWS</th>
        </tr>
        <tr>
            <td>Severless</td>
            <td>Amazon Lambda</td>
        </tr>
        <tr>
            <td>pipeline</td>
            <td>EventBridge</td>
        </tr>
        <tr>
            <td>Database</td>
            <td>Amazon DynamoDB</td>
        </tr>
        <tr>
            <td>Streaming</td>
            <td>Amazon Kinesis</td>
        </tr>
        <tr>
            <td> Web</td>
            <td>Django</td>
        </tr>
    </table>
    <a href="https://github.com/joe19940422/bigdata_project/blob/main/aws/weather/lambda_function.py" target="_blank" style="color: #0015ff; text-decoration: none; font-size: 32px;">View Project fake code  Click here </a>
    <br>

<br>
<!-- Image link -->
<a href="https://github.com/joe19940422/bigdata_project/blob/main/aws/weather/weather.png?raw=true" target="_blank">
  <img src="https://github.com/joe19940422/bigdata_project/blob/main/aws/weather/weather.png?raw=true" alt="Image Alt Text" width="1705" height="807">
</a>
    <a href="https://github.com/joe19940422/bigdata_project/blob/main/aws/weather/weather_kinesis.png?raw=true" target="_blank">
  <img src="https://github.com/joe19940422/bigdata_project/blob/main/aws/weather/weather_kinesis.png?raw=true" alt="Image Alt Text" width="1794" height="986">
</a>
    <a href="https://github.com/joe19940422/bigdata_project/blob/main/aws/weather/weather_kisnesis_to_dynamdb.png?raw=true" target="_blank">
  <img src="https://github.com/joe19940422/bigdata_project/blob/main/aws/weather/weather_kisnesis_to_dynamdb.png?raw=true" alt="Image Alt Text" width="1087" height="450">
</a>
    <a href="https://github.com/joe19940422/bigdata_project/blob/main/aws/weather/Dynamdb_weather.png?raw=true" target="_blank">
  <img src="https://github.com/joe19940422/bigdata_project/blob/main/aws/weather/Dynamdb_weather.png?raw=true" alt="Image Alt Text" width="1804" height="975">
</a>
  <div>
    <a href="{% url 'blog:index' %}">Back to home</a>
  </div>
{% endblock %}
