{% extends 'blog/base.html' %}

{% block content %}
  <h2>Weather Data</h2>

  <form method="get" action="{% url 'blog:weather' %}">
    <label for="city">Select a city:</label>
    <select name="city" id="city" onchange="this.form.submit()">
      {% for city in cities %}
        <option value="{{ city }}" {% if city == name %}selected{% endif %}>{{ city }}</option>
      {% endfor %}
    </select>
  </form>

  {% if error %}
    <p>{{ error }}</p>
  {% else %}
    <div>
      <p><strong>City:</strong> {{ name }}</p>
      <p><strong>Visibility:</strong> {{ visibility }}</p>
      <p><strong>Longitude:</strong> {{ lon }}</p>
      <p><strong>Latitude:</strong> {{ lat }}</p>
      <p><strong>Wind:</strong> Speed: {{ wind.speed }} m/s, Degree: {{ wind.deg }}°</p>
      <p><strong>Weather time:</strong> {{ weather_time }}</p>
      <p><strong>insert dynamdb time:</strong> {{ insert_dynamdb_time }}</p>
    </div>
  {% endif %}

  <div>
    <a href="{% url 'blog:index' %}">Back to home</a>
  </div>
{% endblock %}
