p {
background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-1230248-png.png');
}
h1 {
  text-align: center;
}
input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background: white;
 }
 form {
  color: rgb(1, 12, 22);
 }