.top {
  background-color: #264356;
  height: 200px;
  margin:0;
  padding:0;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
}
.form {
  height: 590px;
  width: 400px;
  background-color: #fff;
  margin: -110px auto;
  border-radius: 10px;
  color: #666;
  padding: 0px 0px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
}

.info {
  padding: 10px;
}
h1, h2, p {
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
}
h2 {
  font-family: 'Great Vibes', cursive;
  font-weight: 100;
}

p.line {
  margin: 0px auto 20px auto;
  color: #999;
}
.form input {
  font-size: 15px;
  color: #666;
  padding: 6px;
  margin: 25px auto 20px;
  display: block;
  width: 75%;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background: white;
 }
 form {
  color: rgb(1, 12, 22);
 }