.u-section-1 .u-sheet-1 {
  min-height: 771px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 711px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 612px;
  height: 612px;
  background-image: url("/static/images/IMG_20200221_101755.jpg");
  background-position: 50% 50%;
  margin: -3px auto 0 -17px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 711px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 13px 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-1 .u-image-1 {
    width: 564px;
    height: 564px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 586px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 14px;
  }

  .u-section-1 .u-image-1 {
    width: 347px;
    height: 347px;
    margin-top: 91px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 584px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 653px;
  }

  .u-section-1 .u-image-1 {
    width: 490px;
    height: 490px;
    margin-top: 90px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 93px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#f2f2f2, #2cccc4);
}

.u-section-2 .u-sheet-1 {
  min-height: 598px;
}

.u-section-2 .u-image-1 {
  width: 249px;
  height: 107px;
  margin: 16px 321px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -60px 570px 0 169px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 24px auto 14px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 470px;
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 319px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-right: 291px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 139px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-right: 91px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(#f2f2f2, #2cccc4);
}

.u-section-3 .u-sheet-1 {
  min-height: 432px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 124px 86px 0 169px;
}

.u-section-3 .u-image-1 {
  width: 158px;
  height: 176px;
  margin: -375px 287px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -116px 646px 279px 169px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 803px;
    margin-left: 55px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 803px;
    margin-left: 69px;
    margin-right: 546px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 395px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-right: 215px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 182px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-right: 15px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 66px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 7px;
  margin-right: auto;
  margin-left: auto;
} .u-section-5 {
  background-image: none;
  min-height: 612px;
}

.u-section-5 .u-shape-1 {
  height: 290px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  margin: -182px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 418px;
  grid-gap: 10px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-5 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-5 .u-icon-1 {
  height: 141px;
  width: 141px;
  background-image: none;
  margin: 22px auto 0;
}

.u-section-5 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 44px 0 54px;
}

.u-section-5 .u-text-2 {
  margin: 20px 10px 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-5 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-5 .u-icon-2 {
  height: 141px;
  width: 141px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 22px auto 0;
}

.u-section-5 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 44px 0 54px;
}

.u-section-5 .u-text-4 {
  margin: 20px 10px 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-5 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-5 .u-icon-3 {
  height: 141px;
  width: 141px;
  background-image: none;
  margin: 22px auto 0;
}

.u-section-5 .u-text-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 44px 0 54px;
}

.u-section-5 .u-text-6 {
  margin: 20px 10px 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-5 .u-container-layout-4 {
  padding: 0 20px;
}

.u-section-5 .u-icon-4 {
  height: 141px;
  width: 141px;
  background-image: none;
  margin: 22px auto 0;
}

.u-section-5 .u-text-7 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 44px 0 54px;
}

.u-section-5 .u-text-8 {
  margin: 20px 10px 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 520px;
  }

  .u-section-5 .u-shape-1 {
    height: 266px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 344px;
  }

  .u-section-5 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 87px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 87px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-icon-3 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    width: 87px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-icon-4 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
    width: 87px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 934px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 774px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 936px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 795px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 557px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px 0 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 641px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 7px;
}

.u-section-6 .u-image-1 {
  width: 435px;
  height: 435px;
  background-image: url("/static/images/IMG_20210904_173155.jpg");
  background-position: 50% 50%;
  margin: 36px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 753px;
}

.u-section-6 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-6 .u-shape-1 {
  width: 149px;
  height: 148px;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-6 .u-icon-1 {
  width: 122px;
  height: 122px;
  margin: -135px 14px 0 auto;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  line-height: 1;
  background-image: none;
  font-size: 2.25rem;
  margin: 52px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 31px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 23px 272px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-6 .u-image-1 {
    width: 364px;
    height: 364px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 621px;
  }

  .u-section-6 .u-shape-1 {
    height: 149px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-6 .u-image-1 {
    width: 269px;
    height: 269px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-3 {
    margin-right: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 701px;
  }

  .u-section-6 .u-image-1 {
    width: 494px;
    height: 494px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1200px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px auto 0;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 4.0625rem;
  margin: 20px auto 0;
}

.u-section-7 .u-gallery-1 {
  height: 745px;
  margin-top: 53px;
  margin-bottom: 0;
  grid-gap: 17px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-7 .u-over-slide-1 {
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  padding: 20px;
}

.u-section-7 .u-over-slide-5 {
  padding: 20px;
}

.u-section-7 .u-over-slide-6 {
  padding: 20px;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 35px auto 60px;
  padding: 15px 50px 15px 48px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1069px;
  }

  .u-section-7 .u-gallery-1 {
    height: 614px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1513px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1058px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3629px;
  }

  .u-section-7 .u-gallery-1 {
    height: 3174px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2453px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-gallery-1 {
    height: 1998px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 761px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 60px 0 60px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 641px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 7px;
}

.u-section-8 .u-image-1 {
  width: 435px;
  height: 435px;
  background-image: url("/static/images/IMG_20181006_131031_352.jpg");
  background-position: 50% 50%;
  margin: 36px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 641px;
}

.u-section-8 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-8 .u-shape-1 {
  width: 149px;
  height: 148px;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-8 .u-icon-1 {
  width: 122px;
  height: 122px;
  margin: -135px 14px 0 auto;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  line-height: 1;
  background-image: none;
  font-size: 2.25rem;
  margin: 52px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 31px 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  margin: 23px 272px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-8 .u-image-1 {
    width: 364px;
    height: 364px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 529px;
  }

  .u-section-8 .u-shape-1 {
    height: 149px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-8 .u-image-1 {
    width: 269px;
    height: 269px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-3 {
    margin-right: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 701px;
  }

  .u-section-8 .u-image-1 {
    width: 494px;
    height: 494px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-8 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 761px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 60px 0 60px auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 1009px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-9 .u-image-1 {
  width: 511px;
  height: 354px;
  margin: 34px -8px 0;
}

.u-section-9 .u-image-2 {
  width: 479px;
  height: 561px;
  margin: 0 15px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 1009px;
}

.u-section-9 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-9 .u-shape-1 {
  width: 149px;
  height: 148px;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-9 .u-icon-1 {
  width: 122px;
  height: 122px;
  margin: -135px 14px 0 auto;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  line-height: 1;
  background-image: none;
  font-size: 2.25rem;
  margin: 52px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  margin: 31px 272px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

.u-section-9 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 14px;
}

.u-section-9 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 228px;
}

.u-section-9 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -64px 85px 0 auto;
}

.u-section-9 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -64px 196px 0 auto;
}

.u-section-9 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 125px;
}

.u-section-9 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 9px 85px 0 auto;
}

.u-section-9 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 125px;
}

.u-section-9 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 9px;
}

.u-section-9 .u-icon-10 {
  width: 64px;
  height: 64px;
  margin: -63px auto 0 228px;
}

.u-section-9 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: -64px 196px 0 auto;
}

.u-section-9 .u-icon-12 {
  width: 64px;
  height: 64px;
  margin: 7px auto 0 228px;
}

.u-section-9 .u-icon-13 {
  width: 69px;
  height: 69px;
  margin: -64px auto 0 120px;
}

.u-section-9 .u-icon-14 {
  width: 64px;
  height: 64px;
  margin: -65px auto 0 9px;
}

.u-section-9 .u-text-3 {
  font-size: 1.25rem;
  text-align: left;
  margin: 35px 222px 0 14px;
}

.u-section-9 .u-btn-2 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

.u-section-9 .u-icon-15 {
  width: 64px;
  height: 64px;
  margin: 6px 112px 0 auto;
}

.u-section-9 .u-icon-16 {
  width: 64px;
  height: 64px;
  margin: -64px 190px 0 auto;
}

.u-section-9 .u-icon-17 {
  width: 64px;
  height: 64px;
  margin: -61px auto 0 14px;
}

.u-section-9 .u-icon-18 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 94px;
}

.u-section-9 .u-icon-19 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 174px;
}

.u-section-9 .u-icon-20 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 252px;
}

.u-section-9 .u-icon-21 {
  width: 64px;
  height: 64px;
  margin: -64px 29px 0 auto;
}

.u-section-9 .u-icon-22 {
  width: 64px;
  height: 64px;
  margin: 6px auto 0 174px;
}

.u-section-9 .u-icon-23 {
  width: 64px;
  height: 64px;
  margin: -63px 192px 0 auto;
}

.u-section-9 .u-icon-24 {
  width: 64px;
  height: 64px;
  margin: -64px 112px 0 auto;
}

.u-section-9 .u-icon-25 {
  width: 64px;
  height: 64px;
  margin: -64px 29px 0 auto;
}

.u-section-9 .u-icon-26 {
  width: 64px;
  height: 64px;
  margin: -63px auto 0 251px;
}

.u-section-9 .u-icon-27 {
  width: 64px;
  height: 64px;
  margin: -63px auto 0 9px;
}

.u-section-9 .u-icon-28 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 87px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 832px;
  }

  .u-section-9 .u-image-1 {
    width: 407px;
    height: 282px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-2 {
    width: 407px;
    height: 476px;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 832px;
  }

  .u-section-9 .u-shape-1 {
    height: 149px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 159px;
  }

  .u-section-9 .u-icon-3 {
    margin-left: 184px;
  }

  .u-section-9 .u-icon-5 {
    margin-right: 158px;
  }

  .u-section-9 .u-icon-10 {
    margin-left: 184px;
  }

  .u-section-9 .u-icon-11 {
    margin-right: 158px;
  }

  .u-section-9 .u-icon-12 {
    margin-left: 184px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 123px;
    margin-left: 0;
  }

  .u-section-9 .u-icon-16 {
    margin-right: 153px;
  }

  .u-section-9 .u-icon-17 {
    margin-left: 0;
  }

  .u-section-9 .u-icon-19 {
    margin-left: 140px;
  }

  .u-section-9 .u-icon-20 {
    margin-left: 203px;
  }

  .u-section-9 .u-icon-22 {
    margin-left: 140px;
  }

  .u-section-9 .u-icon-23 {
    margin-right: 155px;
  }

  .u-section-9 .u-icon-26 {
    margin-left: 202px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 637px;
  }

  .u-section-9 .u-image-1 {
    width: 312px;
    height: 216px;
  }

  .u-section-9 .u-image-2 {
    width: 312px;
    height: 365px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-9 .u-text-2 {
    margin-right: 34px;
  }

  .u-section-9 .u-icon-3 {
    margin-left: 135px;
  }

  .u-section-9 .u-icon-5 {
    margin-right: 116px;
  }

  .u-section-9 .u-icon-6 {
    margin-left: 92px;
  }

  .u-section-9 .u-icon-8 {
    margin-left: 92px;
  }

  .u-section-9 .u-icon-10 {
    margin-left: 135px;
  }

  .u-section-9 .u-icon-11 {
    margin-right: 116px;
  }

  .u-section-9 .u-icon-12 {
    margin-left: 135px;
  }

  .u-section-9 .u-icon-13 {
    margin-left: 88px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
  }

  .u-section-9 .u-icon-16 {
    margin-right: 113px;
  }

  .u-section-9 .u-icon-19 {
    margin-left: 103px;
  }

  .u-section-9 .u-icon-20 {
    margin-left: 149px;
  }

  .u-section-9 .u-icon-22 {
    margin-left: 103px;
  }

  .u-section-9 .u-icon-23 {
    margin-right: 114px;
  }

  .u-section-9 .u-icon-26 {
    margin-left: 149px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 1103px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 694px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-icon-3 {
    margin-left: 83px;
  }

  .u-section-9 .u-icon-5 {
    margin-right: 71px;
  }

  .u-section-9 .u-icon-10 {
    margin-left: 83px;
  }

  .u-section-9 .u-icon-11 {
    margin-right: 71px;
  }

  .u-section-9 .u-icon-12 {
    margin-left: 83px;
  }

  .u-section-9 .u-icon-15 {
    margin-right: 69px;
  }

  .u-section-9 .u-icon-16 {
    margin-right: 70px;
  }

  .u-section-9 .u-icon-20 {
    margin-left: 92px;
  }

  .u-section-9 .u-icon-23 {
    margin-right: 70px;
  }

  .u-section-9 .u-icon-24 {
    margin-right: 69px;
  }

  .u-section-9 .u-icon-26 {
    margin-left: 92px;
  }
} .u-section-10 {
  min-height: 500px;
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 683px;
}

.u-section-11 .u-group-1 {
  min-height: 564px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-image-1 {
  width: 450px;
  height: 489px;
  margin: 0 0 0 auto;
}

.u-section-11 .u-form-1 {
  height: 449px;
  margin: -469px 510px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1137px;
  }

  .u-section-11 .u-group-1 {
    min-height: 1017px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-11 .u-image-1 {
    margin-right: auto;
  }

  .u-section-11 .u-form-1 {
    margin-top: 38px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-form-1 {
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-11 .u-group-1 {
    min-height: 874px;
    margin-bottom: -83px;
  }

  .u-section-11 .u-image-1 {
    width: 320px;
    height: 347px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 168px;
}

.u-section-12 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-12 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-12 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-12 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 0 auto;
}

.u-section-12 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-12 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-12 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-12 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-12 .u-icon-5 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 64px;
  }
}