 .u-section-1 {
  background-image: url("/static/images/DJI_0212.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1078px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 423px 262px 0 524px;
}

.u-section-1 .u-text-2 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: -98px auto 0 58px;
}

.u-section-1 .u-text-3 {
  margin: 112px 667px 60px 74px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 20.93% 36.61%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 162px;
    margin-left: 424px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 541px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 4.85% 36.61%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 52px;
    margin-left: 314px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 321px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 186px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 141px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 54.91% 36.61%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 333px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 92px;
    margin-right: -55px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 91px;
    margin-left: -14px;
    margin-right: -14px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 721%;
  top: -311%;
}.u-section-3 .u-sheet-1 {
  min-height: 2914px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0 411px;
}

.u-section-3 .u-image-1 {
  width: 633px;
  height: 633px;
  background-image: url("/static/images/IMG_20180623_115851.jpg");
  background-position: 50% 50%;
  margin: 254px 253px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 289px;
  height: 289px;
  background-image: url("/static/images/IMG_20180216_161134.jpg");
  background-position: 50% 50%;
  margin: -887px auto 0 425px;
}

.u-section-3 .u-image-3 {
  width: 308px;
  height: 308px;
  background-image: url("/static/images/IMG_20180218_143145.jpg");
  background-position: 50% 50%;
  margin: -221px 136px 0 auto;
}

.u-section-3 .u-rotation-parent-1 {
  width: 289px;
  height: 289px;
  margin: -11px 10px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 289px;
  height: 289px;
  background-image: url("/static/images/IMG_20210513_152242.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-5 {
  width: 289px;
  height: 289px;
  background-image: url("/static/images/_DSC1040.jpg");
  background-position: 50% 50%;
  margin: -544px auto 0 145px;
}

.u-section-3 .u-image-6 {
  width: 289px;
  height: 289px;
  background-image: url("/static/images/IMG_20190201_223134.jpg");
  background-position: 50% 50%;
  margin: -34px auto 0 0;
}

.u-section-3 .u-image-7 {
  width: 289px;
  height: 289px;
  background-image: url("/static/images/IMG_20210831_150751.jpg");
  background-position: 50% 50%;
  margin: 1px 0 0 auto;
}

.u-section-3 .u-image-8 {
  width: 289px;
  height: 289px;
  background-image: url("/static/images/_DSC1036.jpg");
  background-position: 50% 50%;
  margin: -289px auto 0 37px;
}

.u-section-3 .u-image-9 {
  width: 289px;
  height: 289px;
  background-image: url("/static/images/_DSC1036.jpg");
  background-position: 50% 50%;
  margin: -289px auto 0 37px;
}

.u-section-3 .u-image-10 {
  width: 289px;
  height: 289px;
  background-image: url("/static/images/IMG-20200507-WA0025.jpg");
  background-position: 50% 50%;
  margin: -119px 199px 0 auto;
}

.u-section-3 .u-image-11 {
  width: 289px;
  height: 289px;
  background-image: url("/static/images/IMG_20191225_135051.jpg");
  background-position: 50% 50%;
  margin: -270px auto 0 205px;
}

.u-section-3 .u-rotation-parent-2 {
  width: 268px;
  height: 268px;
  margin: -243px auto 0;
}

.u-section-3 .u-image-12 {
  width: 268px;
  height: 268px;
  background-image: url("/static/images/IMG_20211128_195559.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-shape-1 {
  width: 32px;
  height: 423px;
  margin: 37px auto 0;
}

.u-section-3 .u-shape-2 {
  width: 154px;
  height: 189px;
  margin: -340px 400px 0 auto;
}

.u-section-3 .u-shape-3 {
  width: 178px;
  height: 189px;
  margin: -189px auto 0 376px;
}

.u-section-3 .u-group-1 {
  min-height: 508px;
  width: 531px;
  background-image: none;
  margin: 151px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 30px 36px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  align-self: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 12px 52px 12px 51px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 883%;
  left: -392%;
  height: 100%;
  top: 0%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 339px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -231px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: -356px;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    margin: -393px 200px 0 auto;
  }

  .u-section-3 .u-image-5 {
    margin-top: -322px;
    margin-left: 191px;
  }

  .u-section-3 .u-image-6 {
    margin-top: -263px;
  }

  .u-section-3 .u-rotation-parent-2 {
    margin-top: -241px;
  }

  .u-section-3 .u-image-12 {
    margin: -241px auto 0 436px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 260px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 137px;
    margin-right: auto;
    margin-left: 31px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -771px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -298px;
    margin-right: 87px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: -270px;
    margin-right: -61px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -338px;
    margin-right: 420px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -337px;
    margin-left: 166px;
  }

  .u-section-3 .u-image-6 {
    margin-top: -220px;
    margin-left: -50px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 50px;
    margin-right: -103px;
  }

  .u-section-3 .u-image-8 {
    margin-top: 13px;
    margin-right: 56px;
    margin-left: auto;
  }

  .u-section-3 .u-image-9 {
    margin-top: -632px;
    margin-left: -50px;
  }

  .u-section-3 .u-image-10 {
    margin-top: 70px;
    margin-right: auto;
    margin-left: 182px;
  }

  .u-section-3 .u-image-11 {
    margin-top: -378px;
    margin-left: -39px;
  }

  .u-section-3 .u-rotation-parent-2 {
    margin-top: -135px;
    margin-left: 92px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 36px;
    margin-right: 328px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -439px;
    margin-right: 174px;
  }

  .u-section-3 .u-shape-3 {
    margin-left: 182px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 3px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2182px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 195px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -678px;
    margin-left: 251px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: -57px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -57px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-3 .u-image-12 {
    margin-left: 272px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 123px;
  }

  .u-section-3 .u-image-1 {
    width: 218px;
    height: 218px;
    margin-top: 109px;
    margin-right: 46px;
  }

  .u-section-3 .u-image-2 {
    width: 91px;
    height: 91px;
    margin-top: -154px;
    margin-left: 20px;
  }

  .u-section-3 .u-image-3 {
    width: 86px;
    height: 86px;
    margin-top: -1px;
    margin-right: auto;
    margin-left: 49px;
  }

  .u-section-3 .u-rotation-parent-1 {
    width: 94px;
    height: 94px;
    margin-top: -115px;
    margin-right: auto;
    margin-left: -197px;
  }

  .u-section-3 .u-image-4 {
    width: 94px;
    height: 94px;
    margin-left: 400px;
  }

  .u-section-3 .u-image-5 {
    width: 78px;
    height: 78px;
    margin-top: -222px;
    margin-left: 41px;
  }

  .u-section-3 .u-image-6 {
    width: 80px;
    height: 80px;
    margin-top: -122px;
    margin-right: 91px;
    margin-left: auto;
  }

  .u-section-3 .u-image-7 {
    width: 78px;
    height: 78px;
    margin-top: -79px;
    margin-right: auto;
    margin-left: 103px;
  }

  .u-section-3 .u-image-8 {
    width: 79px;
    height: 79px;
    margin-top: -84px;
    margin-right: 80px;
  }

  .u-section-3 .u-image-9 {
    margin-left: -220px;
  }

  .u-section-3 .u-image-10 {
    width: 88px;
    height: 88px;
    margin-top: 143px;
    margin-right: 118px;
    margin-left: 51px;
  }

  .u-section-3 .u-image-11 {
    width: 78px;
    height: 78px;
    margin-top: -280px;
    margin-right: 28px;
    margin-left: auto;
  }

  .u-section-3 .u-rotation-parent-2 {
    width: 85px;
    height: 85px;
    margin-top: 238px;
    margin-right: 85px;
    margin-left: 72px;
  }

  .u-section-3 .u-image-12 {
    width: 85px;
    height: 85px;
    margin-left: 72px;
  }

  .u-section-3 .u-shape-1 {
    width: 30px;
    height: 317px;
    margin-top: -5629px;
    margin-right: -423px;
  }

  .u-section-3 .u-shape-2 {
    width: 97px;
    height: 116px;
    margin-top: -285px;
    margin-right: -215px;
  }

  .u-section-3 .u-shape-3 {
    width: 105px;
    height: 116px;
    margin-top: 73px;
    margin-right: -206px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 434px;
    width: 301px;
    margin-top: 15px;
    margin-right: -559px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  min-height: 1177px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  line-height: 1;
  width: 682px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-line-1 {
  height: 6px;
  transform-origin: left center;
  width: 795px;
  margin: 50px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 770px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1042px;
  }

  .u-section-4 .u-gallery-1 {
    height: 635px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 2353px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1946px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 6245px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-gallery-1 {
    height: 5838px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2788px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 340px;
    margin-top: 0;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2731px;
    margin-top: -47px;
    margin-bottom: 0;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 843px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1212px;
  margin: 0 -36px;
}

.u-section-5 .u-image-1 {
  background-image: url("/static/images/9b7c834d19acfe80b6d4830db2944b4b.jpeg");
  min-height: 424px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  background-image: url("/static/images/a37a39c29685b0b0957ac5e5e20cbe54.jpeg");
  min-height: 423px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  background-image: url("/static/images/fb1a26751bfd379b93c88b12ac92e84f.jpeg");
  min-height: 332px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 252px;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 20px 20px 0;
}

.u-section-5 .u-link-1 {
  font-size: 1.5rem;
  font-family: dancing-script;
  margin: 10px auto 20px;
}

.u-section-5 .u-image-4 {
  background-image: url("/static/images/d912a961a8a8af9e075abe3f54e20ed5.jpeg");
  min-height: 263px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-5 {
  background-image: url("/static/images/adf397a44f2b96a715ba9344dc617c2d.jpeg");
  min-height: 424px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-6 {
  background-image: url("/static/images/59cab93df39bcc7c464b748f3d676add.jpeg");
  min-height: 423px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 773px;
    margin-right: 0;
    margin-left: 134px;
  }

  .u-section-5 .u-image-1 {
    min-height: 329px;
  }

  .u-section-5 .u-image-2 {
    min-height: 328px;
  }

  .u-section-5 .u-image-3 {
    min-height: 257px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 195px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-4 {
    min-height: 204px;
  }

  .u-section-5 .u-image-5 {
    min-height: 329px;
  }

  .u-section-5 .u-image-6 {
    min-height: 328px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2261px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 592px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 378px;
  }

  .u-section-5 .u-image-2 {
    min-height: 377px;
  }

  .u-section-5 .u-image-3 {
    min-height: 295px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-image-4 {
    min-height: 234px;
  }

  .u-section-5 .u-image-5 {
    min-height: 756px;
  }

  .u-section-5 .u-image-6 {
    min-height: 754px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2262px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 492px;
    margin-left: 298px;
  }

  .u-section-5 .u-image-1 {
    min-height: 567px;
  }

  .u-section-5 .u-image-2 {
    min-height: 566px;
  }

  .u-section-5 .u-image-3 {
    min-height: 443px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-image-4 {
    min-height: 351px;
  }

  .u-section-5 .u-image-5 {
    min-height: 567px;
  }

  .u-section-5 .u-image-6 {
    min-height: 566px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1422px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 357px;
  }

  .u-section-5 .u-image-2 {
    min-height: 356px;
  }

  .u-section-5 .u-image-3 {
    min-height: 279px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-4 {
    min-height: 221px;
  }

  .u-section-5 .u-image-5 {
    min-height: 357px;
  }

  .u-section-5 .u-image-6 {
    min-height: 356px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1285px;
}

.u-section-6 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("/static/images/rtettt-min.jpg");
  background-position: 50% 50%;
  margin: 60px 96px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("/static/images/bride-holds-beautiful-bridal-bouquet-close-up_8353-10474.jpg");
  background-position: 50% 50%;
  margin: -596px auto 0 71px;
}

.u-section-6 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("/static/images/rett.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0 156px;
}

.u-section-6 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -419px auto 0 20px;
}

.u-section-6 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 39px 69px 0 auto;
}

.u-section-6 .u-group-1 {
  min-height: 411px;
  margin-top: 71px;
  margin-bottom: 60px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  font-family: "Playfair Display", serif;
  margin: 36px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 17px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-6 .u-image-1 {
    width: 562px;
    height: 562px;
    margin-right: 60px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -628px;
    margin-left: 30px;
  }

  .u-section-6 .u-image-3 {
    width: 362px;
    height: 362px;
    margin-top: 141px;
    margin-left: 171px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: -432px;
    margin-left: 52px;
  }

  .u-section-6 .u-shape-2 {
    width: 227px;
    height: 227px;
    margin-top: 7px;
    margin-right: 20px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 147px;
    margin-bottom: -6px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1476px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 13px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -812px;
    margin-left: 20px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 331px;
    margin-left: 20px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: -658px;
    margin-left: 13px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 245px;
    margin-right: 0;
  }

  .u-section-6 .u-group-1 {
    margin-top: 87px;
    margin-bottom: -190px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-6 .u-image-1 {
    width: 488px;
    height: 488px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: -799px;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    width: 323px;
    height: 323px;
    margin-top: 348px;
    margin-left: -19px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: -671px;
    margin-left: 0;
  }

  .u-section-6 .u-shape-2 {
    width: 167px;
    height: 167px;
    margin-top: 281px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 125px;
    margin-bottom: -251px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-6 .u-image-1 {
    width: 293px;
    height: 293px;
    margin-top: 331px;
  }

  .u-section-6 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -525px;
  }

  .u-section-6 .u-image-3 {
    width: 246px;
    height: 246px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 239px;
    margin-left: -17px;
  }

  .u-section-6 .u-shape-1 {
    width: 73px;
    height: 73px;
    margin-top: -485px;
  }

  .u-section-6 .u-shape-2 {
    width: 101px;
    height: 101px;
    margin-top: 158px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 145px;
    margin-bottom: -172px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 640px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 628px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-image-1 {
  width: 527px;
  height: 527px;
  background-image: url("/static/images/_DSC1056.jpg");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 314px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-7 .u-image-2 {
  min-height: 314px;
  background-image: url("/static/images/d912a961a8a8af9e075abe3f54e20ed5.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  min-height: 314px;
  background-image: url("/static/images/62322351.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 314px;
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-7 .u-image-1 {
    width: 464px;
    height: 464px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 259px;
  }

  .u-section-7 .u-image-2 {
    min-height: 259px;
  }

  .u-section-7 .u-image-3 {
    min-height: 259px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 259px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1600px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 794px;
  }

  .u-section-7 .u-image-1 {
    width: 669px;
    height: 669px;
    margin-top: 27px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-2 {
    min-height: 397px;
  }

  .u-section-7 .u-image-3 {
    min-height: 397px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2000px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-2 {
    min-height: 596px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 596px;
    order: 1;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-5 {
    order: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1337px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-7 .u-image-1 {
    height: auto;
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 76px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-2 {
    min-height: 375px;
  }

  .u-section-7 .u-image-3 {
    min-height: 375px;
    background-size: auto 110%;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-8 {
  background-image: linear-gradient(#478ac9, #f1c50e);
}

.u-section-8 .u-sheet-1 {
  min-height: 869px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 120px 230px 0 271px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin: 9px -393px 0 532px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin: -17px 804px 0 108px;
}

.u-section-8 .u-text-4 {
  text-align: center;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -20px 292px 0 333px;
}

.u-section-8 .u-map-1 {
  width: 185px;
  height: 156px;
  margin: -5px 15px 0 auto;
}

.u-section-8 .u-map-2 {
  width: 172px;
  height: 151px;
  margin: -153px auto 0 136px;
}

.u-section-8 .u-countdown-1 {
  margin: -106px 255px 0 auto;
}

.u-section-8 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-8 .u-countdown-counter-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-8 .u-countdown-label-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-8 .u-countdown-separator-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-8 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-8 .u-countdown-counter-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-8 .u-countdown-label-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-8 .u-countdown-separator-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-8 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-8 .u-countdown-counter-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-8 .u-countdown-label-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-8 .u-countdown-separator-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-8 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-8 .u-countdown-counter-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-8 .u-countdown-label-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-8 .u-countdown-separator-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-8 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-8 .u-countdown-counter-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-8 .u-countdown-label-5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-8 .u-countdown-separator-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-8 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-8 .u-countdown-counter-6 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-8 .u-countdown-label-6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 43px auto 0;
  padding: 9px 122px 10px 121px;
}

.u-section-8 .u-btn-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  margin: 55px auto 60px 429px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 130px;
    margin-left: 171px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 105px;
    margin-right: -69px;
    margin-left: 207px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: -26px;
    margin-right: 146px;
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 21px;
    margin-right: 192px;
    margin-left: 233px;
  }

  .u-section-8 .u-map-1 {
    margin-top: -169px;
  }

  .u-section-8 .u-map-2 {
    margin-top: -151px;
    margin-left: 98px;
  }

  .u-section-8 .u-countdown-1 {
    margin-top: 66px;
    margin-right: auto;
    margin-left: 219px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 32px;
    margin-left: 185px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 38px;
    margin-left: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 141px;
    margin-right: 18px;
    margin-left: 64px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 16px;
    margin-right: -184px;
    margin-left: 322px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -25px;
    margin-right: 297px;
    margin-left: -159px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 172px;
    margin-right: 117px;
    margin-left: 88px;
  }

  .u-section-8 .u-map-1 {
    margin-top: -188px;
    margin-right: 0;
  }

  .u-section-8 .u-map-2 {
    margin-left: 31px;
  }

  .u-section-8 .u-countdown-1 {
    margin-top: 43px;
    margin-left: 110px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 52px;
    margin-left: auto;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 42px;
    margin-left: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: -9px;
    margin-right: -145px;
    margin-left: 284px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -17px;
    margin-right: 257px;
    margin-left: -118px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 155px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-8 .u-map-2 {
    margin-top: -147px;
    margin-left: -23px;
  }

  .u-section-8 .u-countdown-1 {
    margin-top: 67px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 14px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 25px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
    margin-top: 25px;
    margin-right: -50px;
    margin-left: 188px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -20px;
    margin-right: 170px;
    margin-left: -32px;
  }

  .u-section-8 .u-text-4 {
    transition-duration: 5s;
    margin-top: 149px;
    margin-right: 0;
  }

  .u-section-8 .u-map-1 {
    width: 117px;
    height: 105px;
    margin-top: -165px;
  }

  .u-section-8 .u-map-2 {
    width: 124px;
    height: 104px;
    margin-top: -104px;
    margin-left: 0;
  }

  .u-section-8 .u-countdown-1 {
    margin-top: 88px;
    padding: 0;
  }

  .u-section-8 .u-countdown-counter-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-countdown-separator-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-countdown-counter-2 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-countdown-separator-2 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-countdown-counter-3 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-countdown-separator-3 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-countdown-counter-4 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-countdown-separator-4 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-countdown-counter-5 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-countdown-separator-5 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-countdown-counter-6 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-btn-1 {
    transition-duration: 0.5s;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-8 .u-btn-2 {
    border-style: none;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    transition-duration: 0.5s;
    margin-left: 0;
    margin-right: 0;
    padding: 9px 22px 10px;
  }
}

.u-section-8 .u-btn-1,
.u-section-8 .u-btn-1:before,
.u-section-8 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-8 .u-btn-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-8 .u-btn-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-8 .u-btn-2,
.u-section-8 .u-btn-2:before,
.u-section-8 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-btn-2.u-btn-2.u-btn-2:hover:before {
  background-color: transparent !important;
}

.u-section-8 .u-btn-2.u-btn-2.u-btn-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-8 .u-btn-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-8 .u-btn-2.u-btn-2.u-btn-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-8 .u-btn-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-8 .u-text-4,
.u-section-8 .u-text-4:before,
.u-section-8 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-text-4.u-text-4.u-text-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-4.u-text-4.u-text-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}